@using Microsoft.AspNetCore.Identity
@using SimpleSocialApp.Data.Enums
@using SimpleSocialApp.Data.Models
@using System.Security.Claims
@using SimpleSocialApp.Models.ViewModels.Chats

@inject UserManager<AppUser> _userManager;

@model ChatViewModel
@{
    var currentUser = _userManager.GetUserAsync(User).Result;
}
@foreach (var message in Model.Messages)
{
    <div class="@(message.UserId == currentUser.Id ? "right-paragraph" : "left-paragraph")">
            <p>@message.Content</p>
    </div>
}
