@using System.Security.Claims
<!-- Sidebar Navbar -->
<div class="sidenav">
    <form method="get" asp-action="SearchUsers" asp-controller="User" class="search-form">
        <input class="form-control search-bar" type="search" name="searchQuery" placeholder="Search users" aria-label="Search">
    </form>
    <ul class="sidenav-menu">
        <li class="sidenav-item">
            <div class="nav-button">
                <a class="nav-link" asp-action="Index" asp-controller="Home">
                    <span>Home</span>
                </a>
            </div>
        </li>
        <li class="sidenav-item">
            <div class="nav-button">
                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Profile" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
                    <span>Profile</span>
                </a>
            </div>
        </li>
        <li class="sidenav-item">
            <div class="nav-button active">
                <a class="nav-link" asp-area="" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" asp-controller="Chat" asp-action="ListChats">
                    <span>Chats</span>
                </a>
            </div>
        </li>
        <li class="sidenav-item">
            <div class="nav-button active">
                <a class="nav-link" asp-area="" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" asp-controller="User" asp-action="SuggestedUsers">
                    <span>Suggested Users</span>
                </a>
            </div>
        </li>
    </ul>
</div>
<link rel="stylesheet" href="/css/navbar.css">
