
body, html {
    margin: 0;
    padding: 0;
    padding-bottom: 0; /* Ensures there's no padding at the bottom */
}

/* Navbar Styles */
#main-navbar {
    background-color: #35464d; /* Dark blue background */
}

/* Navbar Brand Styling */
.navbar-brand {
    color: white !important; /* Force white color for brand text */
    font-weight: bold;
}

/* Navbar Link Styling */
.navbar-nav .nav-link {
    color: white !important; /* White text by default */
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease; /* Smooth transition */
}

    /* Hover Effect for Navbar Items */
    .navbar-nav .nav-link:hover {
        color: black !important; /* Black text on hover */
        background-color: white !important; /* White background on hover */
    }

/* Active Link Styling */
.navbar-nav .nav-item.active .nav-link {
    color: black !important; /* Ensure active link stays black */
    background-color: white !important; /* White background for active link */
}
