@using SimpleSocialApp.Data.Enums
@using System.Security.Claims
@model SimpleSocialApp.Models.ViewModels.HomeIndexViewModel

@{
    var isUserLoggedIn = User.Identity.IsAuthenticated;
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

@if (isUserLoggedIn)
{
    <div class="main-content">
        <!-- Posts Section -->
        <div class="posts-section">
            <h3>Posts</h3>
            @await Html.PartialAsync("Post/_PostPartial", Model.Posts)  <!-- Renders each individual post using the PostPartial -->           
        </div>

        <!-- Invisible Load More Trigger -->
        <div id="load-more-trigger" style="height: 1px; visibility: hidden;"
             data-url="@Url.Action("Index", "Home")">
        </div>
    </div>
}
else
{
    <div class="welcome-message">
        <h3>Welcome to SimpleSocialApp!</h3>
        <p>Please log in to view and interact with posts.</p>
    </div>
}

<script type="text/javascript" src="~/js/like-handler.js"></script>
<script type="text/javascript" src="~/js/post-loader.js"></script>
