@using SimpleSocialApp.Data.Enums
@using System.Security.Claims
@model SimpleSocialApp.Models.ViewModels.HomeIndexViewModel

@{
    var isUserLoggedIn = User.Identity.IsAuthenticated;
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

@if (isUserLoggedIn)
{
    <div class="posts-section">
        <h3>Posts</h3>
        @foreach (var post in Model.Posts)
        {
            @await Html.PartialAsync("Post/_PostPartial", post);
        }
    </div>

}
else
{
    <div class="welcome-message">
        <h3>Welcome to SimpleSocialApp!</h3>
        <p>Please log in to view and interact with posts.</p>
    </div>
}
<script type="text/javascript" src="~/js/like-handler.js"></script>