@using SimpleSocialApp.Models.ViewModels.AppUsers
@model List<UserViewModel>

@{
    ViewData["Title"] = "Search Results";
}

<h3>Search Results</h3>

@if (Model != null && Model.Any())
{
    <div class="user-results">
        @foreach (var user in Model)
        {
            @await Html.PartialAsync("User/_UserProfilePartial", user)
        }
    </div>
}
else
{
    <p>No users found matching your search.</p>
}
