@using SimpleSocialApp.Models.ViewModels.AppUsers
@model List<UserViewModel>

@if (Model != null && Model.Any())
{
    <div class="user-results">
        @foreach (var user in Model)
        {
            @await Html.PartialAsync("User/_UserProfilePartial", user)
        }
    </div>
}
else
{
    <p>No users found.</p>
}
