@using SimpleSocialApp.Models.InputModels
@model ContentInputModel

<div class="create-post-container">
    <h4>Create a New Post</h4>
    <form id="create-post-form" asp-action="Create" asp-controller="Post" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea id="Content" asp-for="Content" class="form-control" rows="4" placeholder="Write your post..."></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Upload Images or Video (Optional)</label>
            <input type="file" id="MediaFiles" name="MediaFiles" multiple class="form-control" />
        </div>

        <div class="form-group text-center">
            <input type="submit" value="Create Post" class="btn btn-primary btn-lg" id="submitButton" disabled />
        </div>
    </form>
</div>

<link rel="stylesheet" href="~/css/create-post.css">
<script src="~/js/create-post.js"></script>

