@using SimpleSocialApp.Models.ViewModels.Posts
@model EditPostViewModel


<h2>Edit Post</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="PostId" />
    <div class="form-group">
        <label for="Content">Post Text</label>
        <textarea class="form-control" id="Content" name="Content" rows="4">@Model.Content</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>