@using System.Security.Claims
@model SimpleSocialApp.Data.Models.Media?

<div class="modal fade" id="editProfilePictureModal" tabindex="-1" aria-labelledby="editProfilePictureModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="editProfilePictureModalLabel">Upload Profile Picture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                @if (Model != null && !string.IsNullOrEmpty(Model.Url))
                {
                    <!-- Show current profile picture -->
                    <div class="profile-picture mb-3">
                        <img src="@Model.Url" alt="Profile picture" class="img-fluid" />
                    </div>
                }
                else
                {
                    <!-- Show default image if no profile picture is set -->
                    <div class="profile-picture mb-3">
                        <img src="/images/profile_default/default_avatar.jpg" alt="Profile picture" class="img-fluid" />
                    </div>
                }

                <!-- Form to upload new picture -->
                <form asp-action="EditProfilePicture" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="mediaFile">Select a picture to upload</label>
                        <input type="file" id="mediaFile" name="mediaFile" class="form-control" accept="image/*" />
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
